@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
  body {  
    font-size:100%;
    font:inherit;
    line-height:1;
    font-family:Helvetica, Arial, sans-serif;
  }  
body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
    box-sizing: inherit;
} 

body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

body { 
    line-height: 1;
} 

body { 
    font-family: Helvetica, Arial, sans-serif;
} 

html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
    box-sizing: inherit;
} 

html { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

html { 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
} 

:root { 
    --color_primary_default_rgb: 2, 5, 211; 
} 

div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
    box-sizing: inherit;
} 

div { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

.container-ob9 { 
    overflow: hidden;
} 

.bubble-yls { 
    position: relative; 
    box-sizing: border-box;
} 

div.bubble-yls { 
    overflow: hidden;
} 

.bubble-yls.Pag-jry { 
    z-index: 1;
} 

.container-ob9.rel-gtj { 
    display: grid; 
    grid-template-areas: "stack"; 
    grid-template-rows: 100%; 
    grid-template-columns: 100%;
} 

div.bubble-yls.main-qbn { 
    overflow: visible;
} 

.bubble-yls.baT-3r8  { 
    background-color: rgba(255,255,255,1); 
    min-width: 0px; 
    min-height: max(767px, 100%); 
    width: 100%; 
    margin-right: auto; 
    margin-left: auto; 
    position: relative; 
    z-index: 2; 
    opacity: 1;
} 

.container-ob9.fle-qo4 { 
    display: flex; 
    align-content: stretch;
} 

div.bubble-yls.Gro-wgi { 
    overflow: visible;
} 

.container-ob9.rel-gtj > .bubble-yls { 
    position: relative;
} 

.container-ob9.rel-gtj > .bubble-yls { 
    grid-area: stack;
} 

.container-ob9.fle-qo4.column-42j { 
    flex-direction: column; 
    flex-wrap: nowrap;
} 

.bubble-yls.baT-qe5  { 
    overflow: visible; 
    justify-content: flex-start; 
    border-radius: 20px; 
    -moz-border-radius: 20px; 
    padding: 50px 30px 60px 30px; 
    opacity: 1; 
    align-self: start; 
    justify-self: center; 
    min-width: 300px; 
    max-width: 300px; 
    min-height: 0px; 
    width: 300px; 
    height: max-content; 
    margin-left: 0px; 
    margin-top: 20px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    z-index: 2;
} 

.debugger-page-34w { 
    position: absolute; 
    bottom: 70px; 
    font-size: 12px; 
    color: grey; 
    width: 100%; 
    text-align: center; 
    white-space: pre; 
    line-height: 2;
} 

.container-ob9.rel-gtj > .bubble-yls, .container-ob9.fle-qo4 > .bubble-yls { 
    position: relative;
} 

.bubble-yls.Tex-wb4 { 
    overflow-wrap: break-word;
} 

.bubble-yls.baT-ibb  { 
    white-space: pre-wrap; 
    overflow: visible; 
    font-family: 'Poppins'; 
    font-size: 24px; 
    font-weight: 600; 
    color: rgba(231,234,244,1); 
    line-height: 1.4; 
    border-radius: 0px; 
    -moz-border-radius: 0px; 
    opacity: 1; 
    align-self: center; 
    min-width: 0px; 
    order: 1; 
    min-height: 0px; 
    height: max-content; 
    flex-grow: 0; 
    flex-shrink: 0; 
    width: auto; 
    margin-left: 0px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    z-index: 2;
} 

.bubble-yls.baT-lh8  { 
    white-space: pre-wrap; 
    overflow: visible; 
    font-family: 'Poppins'; 
    font-size: 16px; 
    font-weight: 600; 
    color: rgba(231,234,244,1); 
    text-align: center; 
    line-height: 1.4; 
    border-radius: 0px; 
    -moz-border-radius: 0px; 
    opacity: 1; 
    align-self: center; 
    min-width: 0px; 
    order: 2; 
    min-height: 0px; 
    height: max-content; 
    flex-grow: 0; 
    flex-shrink: 0; 
    width: auto; 
    margin-left: 0px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    z-index: 2;
} 

button { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

.bubble-yls.But-ksw { 
    padding: 0; 
    border: none; 
    cursor: inherit; 
    background: none; 
    text-align: left;
} 

.bubble-yls.baT-m55  { 
    font-family: 'Poppins'; 
    font-size: 15px; 
    font-weight: 600; 
    color: rgba(45,45,45,1); 
    text-align: center; 
    line-height: 1; 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-box-shadow: 0px 7px 30px -10px rgba(var(--color_primary_default_rgb), 0.1); 
    -moz-box-shadow: 0px 7px 30px -10px rgba(var(--color_primary_default_rgb), 0.1); 
    box-shadow: 0px 7px 30px -10px rgba(var(--color_primary_default_rgb), 0.1); 
    padding: 10px 20px 10px 20px; 
    opacity: 1; 
    -webkit-transition: background 200ms ease; 
    -moz-transition: background 200ms ease; 
    -o-transition: background 200ms ease; 
    -ms-transition: background 200ms ease; 
    transition: background 200ms ease; 
    align-self: flex-start; 
    min-width: 0px; 
    order: 5; 
    min-height: 40px; 
    height: max-content; 
    flex-grow: 0; 
    flex-shrink: 0; 
    width: calc(100% - 0px); 
    margin-left: 0px; 
    margin-top: 20px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    z-index: 3;
} 

.bubble-yls.baT-3tv  { 
    font-family: 'Poppins'; 
    font-size: 15px; 
    font-weight: 600; 
    color: rgba(45,45,45,1); 
    text-align: center; 
    line-height: 1; 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-box-shadow: 0px 7px 30px -10px rgba(var(--color_primary_default_rgb), 0.1); 
    -moz-box-shadow: 0px 7px 30px -10px rgba(var(--color_primary_default_rgb), 0.1); 
    box-shadow: 0px 7px 30px -10px rgba(var(--color_primary_default_rgb), 0.1); 
    padding: 10px 20px 10px 20px; 
    opacity: 1; 
    -webkit-transition: background 200ms ease; 
    -moz-transition: background 200ms ease; 
    -o-transition: background 200ms ease; 
    -ms-transition: background 200ms ease; 
    transition: background 200ms ease; 
    align-self: flex-start; 
    min-width: 0px; 
    order: 6; 
    min-height: 40px; 
    height: max-content; 
    flex-grow: 0; 
    flex-shrink: 0; 
    width: calc(100% - 0px); 
    margin-left: 0px; 
    margin-top: 20px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    z-index: 3;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-FfoEh.style-FfoEh {  
   padding-bottom: 300px;  
}  
#style-OikMI.style-OikMI {  
   background-color: rgb(45, 45, 45);  
}  
#style-QzWSE.style-QzWSE {  
   background-color: rgb(231, 234, 244);  
}  
#style-ir23w.style-ir23w {  
   background-color: rgb(231, 234, 244);  
}  
