body {  
    font-size:100%;
    font:inherit;
    line-height:1;
    font-family:Helvetica, Arial, sans-serif;
  }  
div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
    box-sizing: inherit;
} 

div { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

.container-wko { 
    overflow: hidden;
} 

.bubble-owj { 
    position: relative; 
    box-sizing: border-box;
} 

div.bubble-owj { 
    overflow: hidden;
} 

body { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
    box-sizing: inherit;
} 

body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

body { 
    line-height: 1;
} 

body { 
    font-family: Helvetica, Arial, sans-serif;
} 

html { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
    box-sizing: inherit;
} 

html { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

html { 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
} 

.container-wko.rel-pdx { 
    display: grid; 
    grid-template-areas: "stack"; 
    grid-template-rows: 100%; 
    grid-template-columns: 100%;
} 

div.bubble-owj.Gro-8t3 { 
    overflow: visible;
} 

.bubble-owj  { 
    position: relative;
} 

.container-wko.rel-pdx > .bubble-owj { 
    position: relative;
} 

.container-wko.rel-pdx > .bubble-owj { 
    grid-area: stack;
} 

.container-wko.rel-pdx > .bubble-owj, .container-wko.flex > .bubble-owj { 
    position: relative;
} 

.bubble-owj.Ima-fm8 { 
    display: flex; 
    flex-direction: row; 
    align-items: stretch;
} 

.container-wko.fix-ydb > .bubble-owj  { 
    position: absolute;
} 

img { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline; 
    box-sizing: inherit;
} 

img { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

button { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

.bubble-owj.But-pks { 
    padding: 0; 
    border: none; 
    cursor: inherit; 
    background: none; 
    text-align: left;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-AGmyr.style-AGmyr {  
   background-color: rgb(51, 51, 51);  
    overflow: visible;  
    border-radius: 0px;  
    opacity: 1;  
    align-self: flex-start;  
    min-width: 100%;  
    max-width: 100%;  
    order: 1;  
    min-height: 767px;  
    width: 100%;  
    flex-grow: 1;  
    height: max-content;  
    margin: 0px;  
    z-index: 3;  
}  
#style-ntfeI.style-ntfeI {  
   overflow: visible;  
    border-style: solid;  
    border-width: 10px;  
    border-color: rgb(255, 255, 255);  
    border-radius: 5px;  
    padding: 0px;  
    opacity: 1;  
    place-self: start center;  
    min-width: 300px;  
    max-width: 300px;  
    min-height: 650px;  
    max-height: 650px;  
    width: 300px;  
    height: 650px;  
    margin: 40px 0px 0px;  
    z-index: 3;  
    background-color: rgba(255, 255, 255, 0);  
    background-repeat: no-repeat;  
    background-size: cover;  
    background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fcb7c7b16d92c4023527345220109c7d8.cdn.bubble.io%2Ff1689824854919x785870007518954000%2Ffirstbg.jpg?w=384&h=832&auto=compress&fit=crop&dpr=1.5");  
}  
#style-cTXoG.style-cTXoG {  
   border-radius: 0px;  
    opacity: 1;  
    top: 0px;  
    left: 0px;  
    width: 280px;  
    height: 361px;  
    z-index: 2;  
}  
#style-8hE5c.style-8hE5c {  
   top: 0px;  
    left: 0px;  
    display: block;  
    width: 100%;  
    height: 100%;  
    position: absolute;  
    border-radius: 0px;  
}  
#style-RBcD2.style-RBcD2 {  
   border-radius: 0px;  
    opacity: 1;  
    top: 335px;  
    left: 34px;  
    width: 233px;  
    height: 275px;  
    z-index: 4;  
}  
#style-XG68M.style-XG68M {  
   top: 0px;  
    left: 0px;  
    display: block;  
    width: 100%;  
    height: 100%;  
    position: absolute;  
    border-radius: 0px;  
}  
#style-wBqpT.style-wBqpT {  
   overflow: visible;  
    border-radius: 5px;  
    padding: 0px;  
    opacity: 1;  
    top: 208px;  
    left: 130px;  
    width: 64px;  
    height: 23px;  
    z-index: 5;  
}  
#style-zWoQg.style-zWoQg {  
   background-color: rgb(0, 178, 0);  
    font-family: var(--font_default);  
    font-size: 14px;  
    font-weight: bold;  
    color: rgb(251, 251, 251);  
    text-align: center;  
    line-height: 1;  
    border-radius: 5px;  
    opacity: 1;  
    top: 0px;  
    left: 0px;  
    width: 60px;  
    height: 20px;  
    z-index: 1;  
}  
#style-zA3Sk.style-zA3Sk {  
   overflow: visible;  
    border-radius: 10px;  
    padding: 0px;  
    opacity: 1;  
    top: 261px;  
    left: 130px;  
    width: 60px;  
    height: 20px;  
    z-index: 6;  
}  
#style-3qmT6.style-3qmT6 {  
   background-color: var(--color_text_default);  
    font-family: var(--font_default);  
    font-size: 14px;  
    font-weight: bold;  
    color: rgb(251, 251, 251);  
    text-align: center;  
    line-height: 1;  
    border-radius: 5px;  
    opacity: 1;  
    top: 0px;  
    left: 0px;  
    width: 60px;  
    height: 20px;  
    z-index: 1;  
}  
#style-kU4BX.style-kU4BX {  
   overflow: visible;  
    border-radius: 10px;  
    padding: 0px;  
    opacity: 1;  
    top: 142px;  
    left: 122px;  
    width: 68px;  
    height: 25px;  
    z-index: 7;  
}  
#style-pzpcm.style-pzpcm {  
   background-color: rgb(39, 82, 224);  
    font-family: var(--font_default);  
    font-size: 14px;  
    font-weight: bold;  
    color: rgb(251, 251, 251);  
    text-align: center;  
    line-height: 1;  
    border-radius: 5px;  
    opacity: 1;  
    top: 0px;  
    left: 3px;  
    width: 65px;  
    height: 25px;  
    z-index: 1;  
}  
