<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'subject_selection' %}">Select a Subject</a></li>
                <!-- Add other common links here -->
                {% if user.is_authenticated %}
                <li><a href="{% url 'custom_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <!-- ... -->
</body>
</html>
