{% load static %}
<!DOCTYPE html>
<html clss="wf-opensans-n4-active wf-opensans-n6-active wf-opensans-n7-active wf-active b-root">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
  <div>
    <div class="bubble-yls Pag-jry baT-3r8 container-ob9 rel-gtj main-qbn style-FfoEh" id="style-FfoEh">
        <div class="bubble-yls Gro-wgi baT-qe5 container-ob9 fle-qo4 column-42j style-OikMI" id="style-OikMI">
            <div class="bubble-yls Tex-wb4 baT-ibb">Game Mode</div>
            <div class="bubble-yls Tex-wb4 baT-lh8">What device are you playing from?</div>

            <form action="{% url 'mainphone' %}">
              <button class="bubble-yls But-ksw baT-m55 style-QzWSE" id="style-QzWSE">
                Mobile
              </button>
            </form>

            <form action="{% url 'maindesktop' %}">
              <button class="bubble-yls But-ksw baT-3tv style-ir23w" id="style-ir23w">
                Desktop
                </button>
            </form>
            
        </div>
    </div>
  </div>
</body>
</html>