{% load static %}
<!DOCTYPE html>
<html clss="wf-opensans-n4-active wf-opensans-n6-active wf-opensans-n7-active wf-active b-root">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
	
	<div class="bubble-element Group baTaHaEh1 bubble-r-container fixed snipcss-sN7q7 style-dLCg7" id="style-dLCg7">
  <div class="bubble-element Group baTaHaEn1 bubble-r-container fixed style-eGlMQ" id="style-eGlMQ">
    <div class="bubble-element Image baTaHaEp1">
      <img src="https://cb7c7b16d92c4023527345220109c7d8.cdn.bubble.io/f1689825010319x415387872764442700/boy.svg">
    </div>
    <div class="bubble-element Image baTaHaEt1">
      <img src="https://cb7c7b16d92c4023527345220109c7d8.cdn.bubble.io/f1689912453493x477397344783685440/Group%2026.svg">
    </div>
    <div class="bubble-element Group baTaHaFaA1 bubble-r-container fixed">
      <div class="bubble-element Group baTaHaFaB1 bubble-r-container fixed">
        <div class="bubble-element Image baTaHaFaF1">
          <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fcb7c7b16d92c4023527345220109c7d8.cdn.bubble.io%2Ff1689916180281x306267648840215400%2F2204_w054_n004_6b_p1_6-removebg-preview%25201.png?w=192&amp;h=105&amp;auto=compress&amp;dpr=1&amp;fit=max">
        </div>
        <div class="bubble-element Text baTaHaFaG1">
          <div>
            Log In
          </div>
        </div>
      </div>
    </div>
    <div class="bubble-element Group baTaHaEu1 bubble-r-container fixed">
      <div class="bubble-element Image baTaHaEz1">
        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fcb7c7b16d92c4023527345220109c7d8.cdn.bubble.io%2Ff1689916876022x771761130798960300%2F2303.w032.n002.914A.p30%25201%2520%25281%2529.png?w=192&amp;h=96&amp;auto=compress&amp;dpr=1&amp;fit=max">
      </div>
      <div class="bubble-element Text baTaHaEv1">
        <div>
          Sign Up
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>