{% load static %}
<!DOCTYPE html>
<html clss="wf-opensans-n4-active wf-opensans-n6-active wf-opensans-n7-active wf-active b-root">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main_phone.css' %}">
</head>

<body>
    <div class="bubble-owj Gro-8t3 container-wko rel-pdx style-AGmyr" id="style-AGmyr">
        <div class="bubble-owj Gro-8t3 container-wko fix-ydb style-ntfeI" id="style-ntfeI">
          <div class="bubble-owj Ima-fm8 style-cTXoG" id="style-cTXoG">
            <img src="https://cb7c7b16d92c4023527345220109c7d8.cdn.bubble.io/f1689912453493x477397344783685440/Group%2026.svg" id="style-8hE5c" class="style-8hE5c">
          </div>
          <div class="bubble-owj Ima-fm8 style-RBcD2" id="style-RBcD2">
            <img src="https://cb7c7b16d92c4023527345220109c7d8.cdn.bubble.io/f1689825010319x415387872764442700/boy.svg" id="style-XG68M" class="style-XG68M">
          </div>
          <form action="{% url '' %}" class="bubble-owj Gro-8t3 container-wko fix-ydb style-wBqpT" id="style-wBqpT">
            <button class="bubble-owj But-pks style-zWoQg" id="style-zWoQg">Login</button>
          </div>
          <form action="{% url 'registerphone' %}" class="bubble-owj Gro-8t3 container-wko fix-ydb style-zA3Sk" id="style-zA3Sk">
            <button class="bubble-owj But-pks style-3qmT6" id="style-3qmT6">SignUp</button>
          </form>
          <div class="bubble-owj Gro-8t3 container-wko fix-ydb style-kU4BX" id="style-kU4BX">
            <button class="bubble-owj But-pks style-pzpcm" id="style-pzpcm">LOGO</button>
          </div>
        </div>
      </div>        
</body>
</html>

<!-- bubble-owj Gro-8t3 container-wko fix-ydb style-zA3Sk -->