{% load static %}
<!DOCTYPE html>
<html clss="wf-opensans-n4-active wf-opensans-n6-active wf-opensans-n7-active wf-active b-root">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reg_desktop.css' %}">
</head>

<body>
    <div class="bubble-a43 Gro-la6 container-cvm rel-9cj style-lPLr7" id="style-lPLr7">
        <div class="bubble-a43 Gro-la6 container-cvm fix-8va style-WF2Wj" id="style-WF2Wj">
          <div class="bubble-a43 Gro-la6 container-cvm rel-9cj style-GC6JN" id="style-GC6JN">
            <div class="bubble-a43 Gro-la6 container-cvm fle-obg row-7jp style-zfowh" id="style-zfowh">
              <div class="bubble-a43 Gro-la6 container-cvm fle-obg column-gdo style-JSmXQ" id="style-JSmXQ">
                <div class="bubble-a43 Ima-w1p style-vCkWl" id="style-vCkWl">
                  <div class="style-bAwqa" id="style-bAwqa">
                  </div>
                  <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fcb7c7b16d92c4023527345220109c7d8.cdn.bubble.io%2Ff1693974208301x949213381615830100%2FGroup%2520127.png?w=384&amp;h=489&amp;auto=compress&amp;dpr=1.5&amp;fit=max" class="style-P5Kza" id="style-P5Kza">
                </div>
              </div>
              <div class="bubble-a43 Gro-la6 container-jy1 style-MR3p8" id="style-MR3p8">
                <div class="container-cvm rel-9cj">
                  <div class="bubble-a43 Ima-w1p style-izDfo" id="style-izDfo">
                    <div class="style-akH5k" id="style-akH5k">
                    </div>
                    <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fcb7c7b16d92c4023527345220109c7d8.cdn.bubble.io%2Ff1693973931954x406367111686379650%2FGroup%2520126.png?w=384&amp;h=553&amp;auto=compress&amp;dpr=1.5&amp;fit=max" class="style-fsBRF" id="style-fsBRF">
                  </div>
                    <form class="bubble-a43 Gro-la6 container-cvm fle-obg column-gdo style-478hr" id="style-478hr">
                        <input class="bubble-a43 Inp-b9e style-3fs3p" type="input" placeholder="Full Name" id="style-3fs3p">
                        <input class="bubble-a43 Inp-b9e style-pXUof" type="input" placeholder="Email" id="style-pXUof">
                        <input class="bubble-a43 Inp-b9e style-m4kZ8" type="input" placeholder="Phone Number" id="style-m4kZ8">
                        <input class="bubble-a43 Inp-b9e style-zQp6U" type="input" placeholder="School" id="style-zQp6U">
                        <input class="bubble-a43 Inp-b9e style-fO7xO" type="input" placeholder="Password" id="style-fO7xO">
                        <input class="bubble-a43 Inp-b9e style-FXSXQ" type="input" placeholder="Confirm Password" id="style-FXSXQ">
                        <button class="bubble-a43 But-hbb style-kowF8" id="style-kowF8" type="submit" style="color:white;">Sign Up</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>        
</body>
</html>