{% load static %}
<!DOCTYPE html>
<html clss="wf-opensans-n4-active wf-opensans-n6-active wf-opensans-n7-active wf-active b-root">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reg_phone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/regphone.css' %}">
</head>

<body>
    <div class="bubble-q4s Gro-bwy baT-ic5 container-m52 rel-hpv style-AstbF" id="style-AstbF">
        <div class="bubble-q4s Gro-bwy baT-nr6 container-m52 fix-xlw style-JD5SC" id="style-JD5SC">
          <div class="bubble-q4s Gro-bwy baT-no1 container-m52 rel-hpv style-RR96q" id="style-RR96q">
            <div class="bubble-q4s Gro-bwy baT-hyl container-m52 fle-8vs column-3bk">
              <div class="bubble-q4s Gro-bwy baT-ia8 container-m52 fle-8vs column-3bk">
                <div class="bubble-q4s Ima-q5o baT-7ix">
                  <div class="aspect-gis">
                  </div>
                  <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fcb7c7b16d92c4023527345220109c7d8.cdn.bubble.io%2Ff1693978041160x604457688652775300%2FGroup%2520128.png?w=384&amp;h=288&amp;auto=compress&amp;dpr=1.5&amp;fit=max">
                </div>
              </div>
              <div class="bubble-q4s Gro-bwy baT-mhr container-7ki style-58WJr" id="style-58WJr">
                <div class="container-m52 rel-hpv">
                  <div class="bubble-q4s Ima-q5o baT-699">
                    <div class="aspect-gis">
                    </div>
                    <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fcb7c7b16d92c4023527345220109c7d8.cdn.bubble.io%2Ff1693973931954x406367111686379650%2FGroup%2520126.png?w=384&amp;h=553&amp;auto=compress&amp;dpr=1.5&amp;fit=max">
                  </div>
                  <form class="bubble-q4s Gro-bwy baT-9oc container-m52 fle-8vs column-3bk">
                    <input class="bubble-q4s Inp-tzh baT-c1h style-3t1FO" type="input" placeholder="Full Name" id="style-3t1FO">
                    <input class="bubble-q4s Inp-tzh baT-1ee style-QZEpo" type="input" placeholder="Email" id="style-QZEpo">
                    <input class="bubble-q4s Inp-tzh baT-ziy style-aEoo5" type="input" placeholder="Phone Number" id="style-aEoo5">
                    <input class="bubble-q4s Inp-tzh baT-xbj style-bhgIF" type="input" placeholder="School" id="style-bhgIF">
                    <input class="bubble-q4s Inp-tzh baT-yvo style-MSVdt" type="input" placeholder="Password" id="style-MSVdt">
                    <input class="bubble-q4s Inp-tzh baT-vx9 style-Xsk6J" type="input" placeholder="Confirm Password" id="style-Xsk6J">
                    <button class="bubble-q4s But-528 baT-j2e style-IC992" id="style-IC992">
                      Sign Up
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
             
</body>
</html>